<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple Ecommerce Sample</title>
	<link href="assets/css/reset.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
	<%- include('partials/header', { numCartItems }) %>
	<main>
		<div class="container">
			<section class="products">
				<% products.forEach(product => { %>
					<div class="product">
						<div class="product-top">
							<h2 class="product-name"><%= product.name %></h2>
							<img class="product-image" src="<%= product.images[0] || 'https://placehold.co/600x400?text=PRODUCT%20IMAGE' %>" />
						</div>
						<div>
							<p class="product-price">$<%= (product.default_price.unit_amount/100).toFixed(2) %></p>
							<button class="btn-add-to-cart btn-pill" data-product-id="<%= product.id %>">Add To Cart</button>
						</div>
					</div>
				<% }); %>
			</section>
		</div>
	</main>

	<script type="text/javascript" src="assets/js/addToCart.js"></script>
</body>
</html>